/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 18/05/2024 15:18:51
*/

.ProduitsPerCategory {}
/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 17/05/2024 14:23:35
*/

.AllProduits {}

.listProduct{
  border-left: 4px solid rgb(143, 141, 141);
  
}
.listProduct ul{
  display: flex;
  flex-direction: column;
  
}
.listProduct ul li{
  list-style: none;
  height: 40px;
  padding-top: 8px;
  padding-left: 10px;
  margin-left: -48px;
}
.listProduct ul .liSelected{
  font-weight: bold;
  border-left: 4px solid var(--main-color);


}
.listProduct ul li:hover{
  font-weight: bold;
  border-left: 4px solid var(--main-color);
  cursor: pointer;
}
.listProduct .ligne{

}











