
/*
Generate with new-react-cli : Fri, 01 Jul 2022 17:34:12 GMT
Free training on https://mudey.fr
*/
.Admin .container{
    min-height: 70vh;
}
.Admin .container form{
    width: 500px;
}

@media screen and (max-width: 501px){
    .Admin .container form{
        width: 95%;
    }
    
}















































/*
Generate with new-react-cli : Fri, 01 Jul 2022 17:34:12 GMT
Free training on sur https://mudey.fr
Teacher Profile : https://mudey.fr/user/espero-akpoli
Teacher Email : eakpoli@mudey.fr
Teacher WhatsApp : +33 7 77 67 41 57
*/
