/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 21/05/2024 10:09:57
*/

.Admin {}
tr td a {
  text-decoration: none;
  color: var(--main-color);
}