/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 18/05/2024 20:00:57
*/

.ViewProductModal {}

.modal{
  display: flex;
  /* justify-self: center !important; */
  /* align-content: center; */
}
.modal-content{
  /* width: 700px !important; */
}
.modal-content button a{
  text-decoration: none;
  color: var(--main-color-write);
}




