.Header{
    background-color: var(--main-color-white);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.banner{
    background-color: var(--main-color);
    height: 50px;
    color: var(--main-color-white);
}
.banner-content{
    height: 50px;
    color: var(--main-color-white);
}
.banner-content a:hover,
.banner-content a{
    color: var(--main-color-white);
    text-decoration: none;
}


.Header .banner img{
    width: 65px !important;
    height: 40px !important;
    margin: 0;
}

.Header nav {
    padding: 0;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 5%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    transition: all 2s;
    white-space: nowrap;
    min-height: 70px;
    /* background-color: #8b3dff !important; */
}



.Header nav  a {
    font-weight: bold;
    text-transform: uppercase;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms;
    /* font-size: 1.2rem; */
    min-width: 150px;
    color: var(--main-color) !important;
}


.Header nav  .navbar-nav a.active ,
.Header nav .navbar-nav  a:hover {
    font-weight: bold;
    color: var(--main-color-white) !important;
    background-color: var(--main-color);
    
}
#dropdown-basic{
    background: none!important;
    color: var(--main-color) !important;
    border: none;
    font-weight: bold;
}
#dropdown-basic:hover{
    color: var(--main-color-white) !important;
}

.dropdown-item:hover{
    width: 380px;
    margin-left: 10px;
}
.dropdown-menu{
width: 400px;

}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .Header nav {
        /* height: 70px; */
        padding: 15px;
    }
    .Header nav  a {
        height: 40px;
        margin: 2px;
    }
   header nav .navbar-brand{
        margin: 0;
    }
   header nav .navbar-brand img{
    width: 250px !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}