
/*
Generate with new-react-cli : Sat, 16 Jul 2022 08:09:29 GMT
Free training on https://mudey.fr
*/
.WhatsAppComponent {
    position: fixed;
    bottom: 50px;
    right: 2%;
    z-index: 999;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
















































/*
Generate with new-react-cli : Sat, 16 Jul 2022 08:09:29 GMT
Free training on sur https://mudey.fr
Teacher Profile : https://mudey.fr/user/espero-akpoli
Teacher Email : eakpoli@mudey.fr
Teacher WhatsApp : +33 7 77 67 41 57
*/
