
/*
Generate with new-react-cli : Sat, 16 Jul 2022 16:12:57 GMT
Free training on https://mudey.fr
*/
.ProductItem {
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 5px;
    height: 400px;
    
}
.ProductItem:hover {
   background-color: var(--main-color);
   color: var(--main-color-white);


}

.ProductItem button{
    background-color: var(--main-color);
    color: var(--main-color-white);
    border: none;
    bottom: 0;
    
}
.ProductItem img{
    width: 100%;
    height: 300px;
}
.ProductItem img:hover{
    transform: scale(1.01);
}















































/*
Generate with new-react-cli : Sat, 16 Jul 2022 16:12:57 GMT
Free training on sur https://mudey.fr
Teacher Profile : https://mudey.fr/user/espero-akpoli
Teacher Email : eakpoli@mudey.fr
Teacher WhatsApp : +33 7 77 67 41 57
*/
