@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  /* --main-color: rgb(48, 196, 53); */
  --main-color: #008b58;
  --main-color-white: white;
  --main-color-black: #1d1d1d;
  /* --main-color-secondary: rgb(255, 174, 0); */
  --main-color-secondary: #efefef;
}
a{
  color: inherit;
  text-decoration: none;
}
.grid{
  display: grid;
}

.divider{
  border: 0.1px solid #ccc;
}
.btn{
  text-transform: uppercase !important;
}
.btn-success, .btn-primary{
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}
section{
  /* margin-top: 30px; */
}
img{
  width: 100%;
}
h1, h2, h3, h4,h5, h6{
  color: var(--main-color);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif !important;
}
body, body * {
  margin: 0;
  
  font-family: "Montserrat", sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pt-70{
  padding-top: 60px;
}
[class*="animate__"]{
  animation-duration: 2s;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.column{
  flex-direction: column;
}
.flex{
  display: flex;
}
.jcc{
  justify-content: center;
}
.jcsb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}